@use "sass:math";
@import "../variables";

.Accordion {
	&--open &__summary {
		background-color: var(--theme);
		outline: none;
	}
	&__summary {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--theme-darker);
		&:focus {
			color: var(--theme-darkest);
			background-color: var(--theme-light);
			outline: none;
			& svg {
				fill: var(--theme-darkest);
			}
		}
		&:hover {
			color: hsl(0, 0%, 88%);
			background-color: var(--theme-dark);
			& svg {
				fill: hsl(0, 0%, 88%);
			}
		}
	}
	&__rotate {
		$iconWidth: math.div($unit, 3) * 2;
		width: $iconWidth;
		min-width: $iconWidth;
		height: $iconWidth;
		transition: transform 0.3s;
		& svg {
			display: block;
			fill: var(--light);
		}
	}
	&--open &__rotate {
		transform: rotate(90deg);
	}
	&__content {
		position: relative;
		overflow-y: clip;
		box-sizing: border-box;
		background-color: var(--dark);
	}
}
