@use "sass:math";
@import "../variables";

.Address{
	height: 100%;
	background-color: var(--darker);
	padding: $space;
	& address{
		font-style: normal;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__home{
		& h2{
			margin: 0 0 math.div($space, 4);
		}
		& p{
			margin: 0;
		}
	}
	&__contact{
		padding: 0;
		list-style-type: none;
		& li{
			margin: math.div($space, 4) 0;
		}
	}
}