@use "sass:math";
@import "../variables";

.Button {
	border: none;
	background-color: transparent;
	height: $unit;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--light);
	fill: var(--light);
	&--icon {
		width: $unit;
		justify-content: center;
		& svg {
			width: $iconSizeMedium;
		}
		&:hover {
			background-color: var(--dark-hover);
		}
		&:focus {
			background-color: var(--dark-focus);
		}
	}
	&--mix {
		justify-content: space-between;
		padding: 0 math.div($space, 2.5);
		text-decoration: none;
		border: 2px solid transparent;
		& svg {
			width: $iconSizeMedium;
		}
		&:hover {
			background-color: var(--dark-hover);
		}
		&:focus {
			// background-color: var(--dark-focus);
			outline: none;
			border: 2px solid $highlight;
		}
	}
	&--pill {
		border-radius: math.div($unit, 2);
		min-width: $unit;
		padding: math.div($space, 4);
	}
	&--cta {
		justify-content: space-between;
		font-weight: 700;
		color: var(--theme-darkest);
		background-color: var(--theme);
		text-decoration: none;
		width: 180px;
		border-radius: 5px;
		overflow: hidden;
		& svg {
			padding: math.div($space, 4);
			width: $unit;
			fill: var(--theme-lightest);
			background-color: var(--theme-dark);
		}
		&:hover {
			color: var(--theme-lightest);
			background-color: var(--theme-dark);
			& svg {
				background-color: var(--theme-darker);
			}
		}
		&:focus {
			color: var(--theme-lightest);
			background-color: var(--theme-darker);
			& svg {
				background-color: var(--theme-darker);
			}
		}
	}
	&--cta-secondary {
		font-weight: 700;
		color: var(--theme-light);
		border: 2px solid var(--theme);
		border-radius: 5px;
		text-decoration: none;
		width: 180px;
		&:hover {
			color: var(--theme-lightest);
			border: 2px solid var(--theme-lightest);
			background-color: var(--theme-darker);
		}
	}
	&--text {
		display: inline-block;
		font-size: inherit;
		height: unset;
		color: var(--theme);
		& svg {
			display: inline-block;
			height: 1.25em;
			margin-bottom: -0.35em;
			margin-right: 0.25em;
		}
	}
	&--default {
		color: var(--theme-darker);
		background-color: var(--theme-light);
		padding: 0 $space;
		min-width: 100px;
		font-weight: 700;
		font-size: 1.1rem;
		&:hover {
			color: var(--theme-darkest);
			background-color: var(--theme);
		}
		&:focus {
			color: var(--theme-lightest);
			background-color: var(--theme-dark);
		}
	}
	&__centered {
		flex: 1;
		text-align: center;
	}
	&--web {
		background-color: var(--theme);
		fill: var(--light);
	}
	&--github {
		background-color: #6e5494;
		fill: var(--light);
	}
	&--api {
		background-color: #549476;
		fill: var(--light);
	}
	&--inline svg {
		display: inline-block;
		$offset: 14px;
		margin-top: $offset;
		margin-bottom: -$offset;
		@media screen and (min-width: $breakpointMedium) {
			margin-top: $offset - 10px;
			margin-bottom: -$offset + 10px;
		}
	}
	&--link {
		color: var(--theme-lighter);
		text-decoration: none;
		display: inline-block;
		height: unset;
		@media print {
			color: $dark;
		}
		& svg {
			width: $iconSize * 2;
			height: $iconSize * 2;
			margin-right: math.div($space, 4);
			margin-bottom: -14px;
			fill: var(--theme-lighter);
			@media screen and (min-width: $breakpointMedium) {
				width: $iconSize;
				height: $iconSize;
				margin-bottom: -4px;
			}
			@media print {
				width: $iconSize;
				height: $iconSize;
				fill: $dark;
				margin-bottom: -4px;
			}
		}
		&:hover {
			color: $highlight;
			& svg {
				fill: $highlight;
			}
		}
	}
}
