@use "sass:math";
@import "../variables";

.Dropdown {
	position: relative;
	&__list {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1;
		color: var(--light);
		background-color: var(--dark);
		box-shadow: -7px 11px 15px 0 #00000022;
		min-width: 280px;
		width: 25vw;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		padding: 0 0 math.div($space, 2);
		margin: math.div($space, 4);
		border-radius: 5px;
		overflow: hidden;
	}
	&__item {
		background-color: var(--darker);
		border: 2px solid transparent;
		&:hover {
			background-color: var(--dark-hover);
		}
		&:focus{
			outline: none;
			border: 2px solid $highlight;
		}
	}
	&__space {
		padding: math.div($space, 2);
	}
	&__header {
		padding-left: math.div($space, 2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $space * 1.625;
		background-color: var(--dark);
		border-bottom: 1px solid var(--dark-hover);
	}
	&__group {
		border-bottom: 1px solid var(--dark-hover);
	}
}
