@use "sass:math";
@import "../variables";

.Experience {
	--left-offset: #{$space * 2};
	--period-height: 200px;
	--margin-bottom: #{$space * 4};
	$lineOffset: math.div($space, 2);
	$studentColor: $ok;
	$employeeColor: $highlight;
	margin-bottom: var(--margin-bottom);
	@media print {
		--margin-bottom: 0;
	}
	&--jobhunting {
		outline: 2px solid $highlight;
		outline-offset: math.div($space, 6);
		padding-bottom: $space;
		@media screen and (min-width: $breakpointMicro) {
			outline-offset: math.div($space, 3);
		}
	}
	&__cta {
		position: absolute;
		top: calc(100% - #{math.div($space, 2.5)});
		left: 50%;
		transform: translateX(-50%);
	}
	&__body {
		position: relative;
		background-color: var(--dark-focus);
		flex: 1;
		border-radius: 3px;
		margin: $lineOffset * 3 0 0 0;
		padding-left: var(--left-offset);
		&--line::before {
			content: "";
			position: absolute;
			top: -$lineOffset * 2;
			left: calc(var(--left-offset) * 0.5);
			bottom: calc(var(--margin-bottom) * -1 - #{$lineOffset});
			transform: translate(-50%);
			width: 1px;
			background-color: var(--theme);
		}
		@media print {
			margin: 0;
			padding-left: $space;
			background-color: transparent;
		}
	}
	&:last-of-type &__body {
		padding-left: $space;
	}
	&__period {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		color: var(--dark);
		font-size: 1.1rem;
		width: 230px;
		padding: math.div($space, 4);
		&--Student {
			background-color: $studentColor;
		}
		&--Employee {
			background-color: $employeeColor;
		}
		&Separator {
			fill: rgba(var(--dark), 0.4);
			display: inline-block;
			margin: 0 12px;
			width: 24px;
		}
	}
	&__year {
		font-size: 1.2em;
		font-weight: 700;
	}
	&__month {
		font-size: 0.9em;
		font-weight: 700;
		color: rgba(var(--dark), 0.4);
	}
	&__location {
		position: absolute;
		top: math.div(-$space, 4) * 3;
		right: math.div($space, 4) * 3;
		padding: math.div($space, 3) $space;
		border-radius: 5px;
		overflow: hidden;
		&Title {
			position: relative;
			z-index: 1;
			color: var(--theme);
		}
		&Separator {
			position: relative;
			z-index: 1;
			color: var(--theme);
			display: inline-block;
			transform: scale(1.25);
			transform-origin: center 100%;
			font-weight: 700;
			margin: 0 5px;
		}
		&City {
			position: relative;
			z-index: 1;
			font-size: 1.4rem;
			font-weight: 700;
		}
		&Background {
			position: absolute;
			inset: 0;
			background-color: var(--dark-hover);
			height: 100%;
			& svg {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				height: 100%;
				fill: var(--dark-faded);
			}
			@media print {
				margin: 0;
				background-color: var(--light);
				& svg {
					fill: var(--light-faded);
				}
			}
		}
	}
	&__separator {
		color: $danger;
		margin: 0 12px;
	}
	&__type {
		font-weight: 300;
		font-size: 0.8em;
		&--Student {
			color: $studentColor;
		}
		&--Employee {
			color: $employeeColor;
		}
	}
	&__name {
		font-size: 1.6rem;
	}
	&__title {
		margin: 0 0 $space;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		color: var(--theme);
	}
	&__description {
		line-height: 1.5rem;
	}
}
