@use "sass:math";
@import "../variables";

.Skills {
	$iconWidth: 48px;
	&__title {
		margin-bottom: $space;
		// @media print {
		// 	margin-bottom: math.div($space, 4);
		// }
	}
	&__chip {
		position: relative;
		background-color: var(--theme-darkest);
		width: 96px;
		height: 96px;
		font-size: 0.9rem;
		font-weight: 400;
		padding: 0 math.div($space, 4) math.div($space, 2);
		border-radius: 5px;
		border: 2px solid var(--theme-darker);
		text-align: center;
		&--tooltip {
			// border: 2px solid $ok;
			&:hover,
			&:focus {
				outline: 2px solid $highlight;
				// outline: none;
				// border: 2px solid $highlight;
			}
		}
		@media print {
			background-color: transparent;
			width: unset;
			height: unset;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid var(--theme-lighter);
			padding: 0 math.div($space, 8) math.div($space, 8);
		}
	}
	&__icon {
		position: absolute;
		top: math.div(-$iconWidth, 2);
		width: $iconWidth;
		border-radius: 50%;
		fill: hsla(0, 0%, 100%, 0.8);
		padding: 8px;
		@media print {
			position: relative;
			top: 0;
			width: 20px;
			padding: 4px;
			margin-right: 5px;
		}
	}
	&__information{
		position: absolute;
		top: -10px;
		right: -10px;
		width: 24px;
		height: 24px;
		background-color: var(--theme-darker);
		border-radius: 50%;
		padding: 2px;
		@media print {
			display: none;
		}
	}
	&__printflex {
		@media print {
			justify-content: flex-start !important;
			gap: 12px !important;
			padding: 0 $space;
		}
	}
	&__chips {
		display: flex;
		flex-wrap: wrap;
		gap: math.div($space, 4);
		list-style-type: none;
		padding: 0;
		& li {
			background-color: var(--theme-darker);
			white-space: nowrap;
			border-radius: 3px;
			border: 2px solid transparent;
			cursor: default;
			display: flex;
			align-items: center;
			&:hover {
				border: 2px solid var(--theme-light);
			}
		}
	}
	&__noprint {
		@media print {
			display: none;
		}
	}
	&__onlyprint {
		display: none;
		&Title {
			font-weight: 700;
			display: block;
		}
		&Text {
			display: block;
			font-size: 0.8em;
			margin: math.div($space, 2) 0 $space math.div($space, 4);
		}
		@media print {
			display: block;
		}
	}
}
