@use "sass:math";
@import "../variables";

.Toast {
	position: fixed;
	top: $topbarHeight;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 700;
	padding: math.div($space, 2) math.div($space, 4) math.div($space, 2)
		math.div($space, 2);
	&--success {
		color: darken($ok, 40);
		background-color: $ok;
		& svg {
			fill: darken($ok, 40);
		}
	}
	&--alert {
		color: darken($danger, 40);
		background-color: $danger;
		& svg {
			fill: darken($danger, 40);
		}
	}
	&__icon {
		width: $space;
	}
	&__message {
		flex: 1;
		margin-left: math.div($space, 2);
		line-height: 1.4rem;
	}
	&__close:hover {
		background-color: transparent;
		& svg {
			fill: darken($danger, 30);
		}
	}
}
