@use "sass:math";
@import "../variables";

.Toggler {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: math.div($space, 2);
	border: 2px solid transparent;
	&--on &__handle {
		background-color: var(--theme);
	}
	&__handle {
		background-color: var(--theme-dark);
		transition: background-color 0.15s, transform 0.15s;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
	}
	&__track {
		background-color: var(--theme-lighter);
		transition: background-color 0.15s;
	}
	&:focus{
		outline: none;
		border: 2px solid $highlight;
	}
	&__label{
		display: inline-block;
		margin-right: 8px;
	}
}
